.gitignore
README.md
inputs
output_folder
tmp
__pycache__
bin
include
lib
docker.sh
docker_op.sh
docker-compose.yml
docker-compose.op.yml
ffmpeg_40s.sh
ffmpeg_40s_fast.sh
ffmpeg_test.sh
pyvenv.cfg
static-server.sh
